.input-text {
    height: 43px;
    line-height: 44px;
    background: #ffffff;
    border: 1px solid #b9cad1;
    border-radius: 5px;
    color: #000;
    font-family: $font-family;
    width: 100%;
    padding: 0 0 0 15px;
}